.navbar > a{
    display:contents;
    box-sizing: border-box;
    width: 70px;
    padding: 5px;
    margin: 0 6px 6px;
    background: lightblue;
    text-decoration: none;
    font-size: min(10vw, 15px) ;
    color: black;
    background-color: beige;
}
  
a.active {
    background: black;
    color: white;
}

.nav-link-cart {
    margin-left: auto;
  }
  
  .nav-link {
    box-sizing: border-box;
    font-size: 2.5em;
    text-align: center;
    display:contents;
    text-align: center;
    padding: 14px 16px;
  }
  