body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* cart */
.cart-image {
  height: 30px;
}

.cart-container {
  display: grid;
  place-items: center;
  margin-top: 60px;
}

.cart-list {
  border-style: dotted;
  padding-block: 20px;
  padding-inline: 20px;
}

.items-in-cart {

}

.cupcake-prices-in-cart {
  margin-left: 90%;
}

.amount {
  display: grid;
  place-items: center;
  margin-left: 100px;
}

.total-in-cart {
 text-align: right;
 font-weight: 600;
}

.price {
  display: grid;
  place-items: center;
  margin-left: 400px;
}

.place-order-button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 10px;
  margin-bottom: 100px;
  margin-right: 10px;
}

.clear-cart-button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.banner-container {
  background-color: rgb(235, 211, 215);
}

.cart-bottom-banner {
  padding-bottom: 150px;
  padding-top: 30px;
  width:650px;
  margin-top: 55px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-image: url("https://www.shutterstock.com/image-vector/happy-mothers-day-sale-banner-260nw-1940755933.jpg");
}

/* shop page */

/* Shop */

.Shop-header {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding-top: 115px;
  padding-bottom: 60px;
  background-color: antiquewhite;
}

.cupcake-images {
  height: 306px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.cupcake-container {
  max-width: 1000px;
  margin-left:auto;
  margin-right: auto;
}

.cupcake-card {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.buttons {
  text-align: center;
}

/* reviews */
.review-container {
  grid-column: span 9;
  width: 300px;
  height: 30px;
  justify-content: right;
  box-sizing: border-box;
  padding-left: 4%;
}

.review-inner-container {
  overflow-y: auto;
  direction:rtl;
  max-height: 1400px;
  width: 100%;
  padding-left: 6px;
}

.review-card {
  border-style: double;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.details {
  font-style: oblique;
}

.name {
  font-weight: 500;
}

/* review form */
.review-form {
  position: center;
  width: 800px;
  height: 500px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .7);
  margin: auto;
  text-align: center;
  padding: 15px 20px;
  margin-top: 90px;
  margin-bottom: 100px;
}

.review-form-title {
  margin-top: 50px;
  margin-bottom: 20px;
}

.review-button {
  margin-top: 10px;
  border-radius: 4px;
}

.textarea {
  width: 80%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  max-height: 200px
}


/* inputs */
input {
  width: 80%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}


/* shop dropdown selector */
.filter {
  font-weight: 500;
  font-size: large;
}

.select {
  width: 20%;
  padding: 6px 10px;
  border: 0;
  border-radius: 4px;
  background-color: #f1f1f1;
  margin-top: 10px;
}

.selector-containter {
  width: 80%;
  padding: 5px 10px;
  margin-left: auto;
  margin-right: auto;
  width: 1320px;
  box-sizing: border-box;
  place-items: center;
  display: grid;
  margin-top: 30px;
}

/* career page */
.career-header {
  display: grid;
  background-color: antiquewhite;
  padding-top: 5%;
  padding-bottom: 1.5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.our-team {
  margin-left: auto;
  margin-right: auto;
  width: 1320px;
  padding-left: 80px;
  place-items: left;
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.our-saying {
  margin-left: auto;
  margin-right: auto;
  width: 1320px;
  padding-right: 80px;
  place-items: right;
  text-align: right;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.career-container {
  display: grid;
  place-items: center;
  position: initial;
  width: 800px;
  border-radius: 5px;
  margin: 10px auto;
  text-align: center;
  padding: 5px 10px;
}

.career-form {
  position: initial;
  width: 800px;
  height: 500px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .7);
  margin: 10px auto;
  text-align: center;
  padding: 5px 10px;
}

.form-title {
  margin-top: 30px;
}

.input-reason {
  padding-bottom: 20%;
}

.form-button {
  margin-top: 10px;
  border-radius: 4px;
}

.titles-career-page {
  font-weight: 700;
}

/* About */

.top-of-page-banner {
  background-color: antiquewhite;
  padding-top: 5%;
  padding-bottom: 1.5%;
  text-align: center;
}

.content-block-wrapper {
  display: grid;
  place-items: center;
}

.content-block-text {
  display: grid;
  place-items: center;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.phonenumber {
  color: blue;
}

.location-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.locations {
  columns: 2;
}

/* FAQ */
.faqtitles {
  display: grid;
  place-items: center;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

.top-title {
  font-size: large;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 5px;
}

.bottom-title {
  font-size: medium;
  font-style: italic;
  margin-bottom: 20px;
}

.faq {
  display: grid;
  place-items: center;
  text-align: left;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.banner-faq-header {
  display: grid;
  place-items: center;
}

.headerfaq {
  display: grid;
  place-items: center;
  background-color: antiquewhite;
  padding-bottom: 30px;
  padding-top: 30px;
}

.bottom-banner-faq {
  display: grid;
  place-items: center;
}

.questions {
  font-style: oblique;
  font-weight: 600;
  font-size: large;
  text-align: center;
}

.faq-answers {
  text-align: center;
}

.answers {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 15px;
}

.answer-intro {
  font-weight: 500;
}